<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Login</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" name="loginForm" ng-submit="submitForm(loginForm.$valid)" novalidate>
                            <fieldset>
                                <div ng-class="{ 'has-error': loginForm.matricula.$invalid && !loginForm.matricula.$pristine}" class="form-group">
                                    <input  ng-model="user.matricula" 
                                            type="text" 
                                            class="form-control" 
                                            placeholder="Matrícula" 
                                            name="matricula" 
                                            autofocus 
                                            required>
                                    <p  class="help-block" ng-show="loginForm.matricula.$error.required && !loginForm.matricula.$pristine">Insira sua matrícula!</p>
                                </div>
                                <div ng-class="{ 'has-error': loginForm.senha.$error.required && !loginForm.senha.$pristine}" class="form-group">
                                    <input ng-model="user.senha" 
                                           class="form-control" 
                                           placeholder="Senha" 
                                           name="senha" 
                                           type="password" 
                                           required>
                                    <p  class="help-block" ng-show="loginForm.senha.$error.required && !loginForm.senha.$pristine">Insira sua senha!</p>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Manter-me conectado">Manter-me conectado
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <button class="btn btn-lg btn-success btn-block" type="submit" ng-disabled="loginForm.$invalid">Login</button>
                            </fieldset>
                        </form>
                        <br/>
                        <div class="row">
                            <div class="col-lg-12">
                                <a href="#">Esqueci a senha</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <a ui-sref="cadastro-docente">Novo cadastro</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
    </html>