<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SDD - Sistema de Distribuição de Disciplinas</title>

    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="../dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">SDD - Sistema de Distribuição de Disciplinas</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> Perfil do Usuário</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Configurações</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="index.html"><i class="fa fa-home fa-fw"></i> Início</a>
                        </li>
                        <li>
                            <a href="configuracoes.html"><i class="fa fa-gear fa-fw"></i> Configurações</a>
                        </li>
                        <li>
                            <a href="_"><i class="fa fa-sitemap fa-fw"></i> Distribuição de Disciplinas<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="lista_de_processos.html"></i> Processos de Distribuição de Disciplinas</a>
                                </li>
                                <li>
                                    <a href="pagina2.html">Página 2</a>
                                </li>
                                <li>
                                    <a href="pagina3.html">Página 3</a>
                                </li>
                                <li>
                                    <a href="pagina4.html">Página 4</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="_"><i class="fa fa-users fa-fw"></i> Usuários<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="pagina1.html">Página 1</a>
                                </li>
                                <li>
                                    <a href="pagina2.html">Página 2</a>
                                </li>
                                <li>
                                    <a href="pagina3.html">Página 3</a>
                                </li>
                                <li>
                                    <a href="pagina4.html">Página 4</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="_"><i class="fa fa-book fa-fw"></i> Disciplinas<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="processos_seletivos.html">Novo processo seletivo</a>
                                </li>
                                <li>
                                    <a href="pagina2.html">Página 2</a>
                                </li>
                                <li>
                                    <a href="pagina3.html">Página 3</a>
                                </li>
                                <li>
                                    <a href="pagina4.html">Página 4</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="_"><i class="fa fa-graduation-cap fa-fw"></i> Núcleos de Conhecimento<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="lista_de_nucleo_de_conhecimento.html"></i> Lista de Núcleos de Conhecimento</a>
                                </li>
                                <li>
                                    <a href="nucleo_de_conhecimento.html">Cadastro de Núcleo de Conhecimento</a>
                                </li>
                                <li>
                                    <a href="pagina3.html">Página 3</a>
                                </li>
                                <li>
                                    <a href="pagina4.html">Página 4</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Cadastro de Núcleo de Conhecimento</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>  <a href="index.html">Início</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Cadastro de Núcleo de Conhecimento
                </li>
            </ol>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-body"  ng-controller="cadastroNucleoDeConhecimentoController">
                        <form role="form" name="novoNucleoDeConhecimentoForm" novalidate>
                            <fieldset>
                                <div class="form-group" style="display: flex;">
                                    <p class="help-block" style="margin-right: 10px;">Nome: </p>
                                    <input  ng-model="nucleo.nome" 
                                            type="text" 
                                            class="form-control" 
                                            placeholder="Núcleo de Conhecimento" 
                                            name="nomeDoNucleo" 
                                            autofocus 
                                            required>
                                    
                                </div>

                                <div class="form-group" style="display: -webkit-inline-box;">
                                    <p class="help-block" style="margin-right: 10px;">Nível esperado: </p>
                                    <input  ng-model="nucleo.nivelEsperado" 
                                            type="text" 
                                            class="form-control" 
                                            placeholder="Nível de proficiência/desejo/aptidão" 
                                            name="nivelEsperadoDoNucleo" 
                                            autofocus 
                                            required>                                 
                                </div>
                                <div class="form-group" style="float: right;">
                                    <button class="btn btn-lg btn-success btn-block" type="submit">BUSCAR</button>
                                </div>

                                <div>      
                                  <table class="table table-bordered">
                                    <thead>
                                      <tr>
                                        <th>Núcleo de Conhecimento</th>
                                        <th>Nível de proficiência/desejo/aptidão esperado</th>
                                        <th>Docente</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>ENGENHARIA DE SOFTWARE</td>
                                        <td>Estou apto a ministrar disciplinas desse núcleo(médio)</td>
                                        <td>Professor 1</td>
                                      </tr>
                                      <tr>
                                        <td>ENGENHARIA DE SOFTWARE</td>
                                        <td>Estou apto a ministrar disciplinas desse núcleo(médio)</td>
                                        <td>Professor 2</td>
                                      </tr>
                                      <tr>
                                        <td>REDES</td>
                                        <td>Desejo ministrar disciplinas desse núcleo(alto)</td>
                                        <td>Professor 3</td>
                                      </tr>
                                      <tr>
                                        <td>COMPUTAÇÃO UBÍQUA</td>
                                        <td>Desejo ministrar disciplinas desse núcleo(alto)</td>
                                        <td>Professor 4</td>
                                      </tr>
                                      <tr>
                                        <td>BANCO DE DADOS</td>
                                        <td>Desejo ministrar disciplinas desse núcleo(alto)</td>
                                        <td>Professor 5</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>

                            </fieldset>
                        </form>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>


    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

</body>

</html>
