<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
</head>
<body>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Cadastro de Núcleo de Conhecimento</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>  <a ui-sref="dashboard.inicio">Início</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Cadastro de Núcleo de Conhecimento
                </li>
            </ol>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-body">
                        <form role="form" name="novoNucleoDeConhecimentoForm" novalidate>
                            <fieldset>
                                <div class="form-group" style="display: flex;">
                                    <p class="help-block" style="margin-right: 10px;">Nome: </p>
                                    <input  ng-model="nucleo.nome" 
                                            type="text" 
                                            class="form-control" 
                                            placeholder="Núcleo de Conhecimento" 
                                            name="nomeDoNucleo" 
                                            autofocus 
                                            required>
                                    
                                </div>

                                <div class="form-group" style="display: -webkit-inline-box;">
                                    <p class="help-block" style="margin-right: 10px;">Nível esperado: </p>
                                    <input  ng-model="nucleo.nivelEsperado" 
                                            type="text" 
                                            class="form-control" 
                                            placeholder="Nível de proficiência/desejo/aptidão" 
                                            name="nivelEsperadoDoNucleo" 
                                            autofocus 
                                            required>                                 
                                </div>
                                <div class="form-group" style="float: right;">
                                    <button class="btn btn-lg btn-success btn-block" type="submit">BUSCAR</button>
                                </div>

                                <div>      
                                  <table class="table table-bordered">
                                    <thead>
                                      <tr>
                                        <th>Núcleo de Conhecimento</th>
                                        <th>Nível de proficiência/desejo/aptidão esperado</th>
                                        <th>Docente</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>ENGENHARIA DE SOFTWARE</td>
                                        <td>Estou apto a ministrar disciplinas desse núcleo(médio)</td>
                                        <td>Professor 1</td>
                                      </tr>
                                      <tr>
                                        <td>ENGENHARIA DE SOFTWARE</td>
                                        <td>Estou apto a ministrar disciplinas desse núcleo(médio)</td>
                                        <td>Professor 2</td>
                                      </tr>
                                      <tr>
                                        <td>REDES</td>
                                        <td>Desejo ministrar disciplinas desse núcleo(alto)</td>
                                        <td>Professor 3</td>
                                      </tr>
                                      <tr>
                                        <td>COMPUTAÇÃO UBÍQUA</td>
                                        <td>Desejo ministrar disciplinas desse núcleo(alto)</td>
                                        <td>Professor 4</td>
                                      </tr>
                                      <tr>
                                        <td>BANCO DE DADOS</td>
                                        <td>Desejo ministrar disciplinas desse núcleo(alto)</td>
                                        <td>Professor 5</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>

                            </fieldset>
                        </form>
                        <br/>
                    </div>
                </div>
            </div>
       
</body>
</html>